@model SE1617_Group4_A3.Models.Show

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>Show</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="RoomId" class="control-label"></label>
            <select id="roomId" asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
        </div>*@
            <input type="hidden" asp-for="RoomId" class="form-control" />
            <div class="form-group">
                <label asp-for="FilmId" class="control-label"></label>
                <select asp-for="FilmId" class="form-control" asp-items="ViewBag.FilmId"></select>
            </div>
            <input id="showDate" type="hidden" asp-for="ShowDate" class="form-control" />
            @*<div class="form-group">
            <label asp-for="ShowDate" class="control-label"></label>
            <input id="showDate" type="date" asp-for="ShowDate" class="form-control" />
            <span asp-validation-for="ShowDate" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <input asp-for="Status" class="form-control" value="true" disabled />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Slot" class="control-label"></label>
                <select id="slot" asp-for="Slot" class="form-control" asp-items="ViewBag.Slot"></select>
                <span asp-validation-for="Slot" class="text-danger"></span>
                @{
                    if (TempData["validate-slot"] != null)
                    {
                        <span id="validate-slot" asp-validation-for="Slot" class="text-danger">@TempData["validate-slot"]</span>
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#showDate, #roomId").on("change", function () {
            var showDate = $("#showDate").val();
            var roomId = $("#roomId option:selected").val();

            console.log(showDate);
            $.ajax(
                {
                    url: '@Url.Action("SlotAvaiable", "Shows")',
                    type: "GET",
                    data: {
                        date: showDate,
                        roomid: roomId
                    },
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        if (response) {
                            var option = "";
                            for (var i = 0; i < response.length; i++) {
                                option += `<option value="${response[i]}">${response[i]}</option>`
                            }
                            console.log(option);
                            $("#slot").html(option);
                            $("#validate-slot").remove();
                        }

                    },
                    error: function (error) {
                        console.log(error)
                    }
                }
            )
        });
    </script>
}
