@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    SE1617, Group 4:
    <br />
    Nguyễn Khải Hoàn
    <br />
    Phí Minh Tiến
    <br />
    Lê Đức Hiếu
    <br />
    Hoàng Đông Quang
</div>
