@model SE1617_Group4_A3.Models.Booking

@{
    ViewData["Title"] = "Create Booking";
}
<h1>Create Booking</h1>

<form asp-action="Create" asp-controller="Bookings" method="post">
    <input type="hidden" name="idShows" value="@Model.BookingId" />
    <div id="box-seats">
        @{
            int count = 0;
            for (int i = 0; i < (ViewBag.Room as Room).NumberRows; i++)
            {
                for (int j = 0; j < (ViewBag.Room as Room).NumberCols; j++)
                {
                    foreach (char[] item in ViewBag.listBooked as List<char[]>)
                    {
                        if (item[count] == '1')
                        {
                            <input class="seats" type="checkbox" name="seats" value="@(count)" checked disabled />
                        }
                        else
                        {
                            <input class="seats" type="checkbox" name="seats" value="@(count)" />
                        }
                    }
                    count++;
                }
                <br />
            }
        }
    </div>
    <div id="info-booking" style="width: 25%;">

        <div class="form-group">
            <label class="control-label">Name </label><br />
            <input class="form-control" type="text" name="name" />
        </div>
        <div>
            <label class="control-label">Price </label><br />
            <input class="form-control" id="total" type="text" value="0" name="price" readonly />
        </div>
    </div>
    <div id="btn-action" style="margin-top: 10px; margin-top: 10px; justify-content: space-between; display: flex; width: 25%;">
        <input class="btn btn-primary" type="submit" value="Save"/>
        <input class="btn btn-danger" type="button" value="Cancel" onclick="history.back()"/>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.seats').on('change', function () {
            var sumPrice = 0;
            var count = 0;
            $('.seats:checked').each(function (index, item) {
                if (!$(item).attr("disabled")) {
                    count++;
                }
            });
            sumPrice = count * @ViewBag.Price;
            $('#total').attr("value", sumPrice);
        });
    </script>
}